<main>
    {{#if _id}}
        {{>single_post}}
    {{else}} 
        <h1>Blog</h1>

        {{#each posts}}

            {{#if isPublic}}
                <div class="post">
                    <h2>Post: {{title}}</h2>
                    <p>Content: {{content}}</p>
                    <a href="/blog/{{_id}}">Read more...</a>
                </div>
            {{/if}}
        {{/each}}
        <br>
        <a href="/blog/post/add"><h2>Add Post</h2></a>
    {{/if}}
</main>